# ---------------------------
# Python virtual environment
# ---------------------------
.venv/

# ---------------------------
# macOS metadata
# ---------------------------
.DS_Store

# ---------------------------
# VS Code settings
# ---------------------------
.vscode/
*.code-snippets

# ---------------------------
# Python cache folders
# ---------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# ---------------------------
# Jupyter Notebook checkpoints
# ---------------------------
.ipynb_checkpoints/

# ---------------------------
# DuckDB database files
# ---------------------------
*.duckdb
*.wal

# ---------------------------
# Data files (raw & processed)
# -------------

